.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore data too large for GitHub (>100MB)
## Westport geopackage
data/a_raw_data/Westport_FinalGeoPackage.gpkg

## Raw data
### AIS
data/a_raw_data/AIS2022_Annual

### Bathymetry
data/a_raw_data/bathymetry/ncei19_n41x50_w071x00_2018v1.tif
data/a_raw_data/bathymetry/ncei19_n41x50_w071x25_2018v1.tif
data/a_raw_data/bathymetry/ncei19_n41x50_w071x50_2018v1.tif

## Intermediate data
### bathymetry
data/b_intermediate_data/bathymetry

### aids to naviation
data/b_intermediate_data/westport_aids_navigation.gpkg

### wreck and obstruction
data/b_intermediate_data/westport_wreck_obstruction.gpkg

### large pelagic survey
data/b_intermediate_data/westport_large_pelagic_survey.gpkg

## Submodel data
data/c_submodel_data/fisheries.gpkg